<div class="grid-x grid-padding-x grid-container">
  <div class="cell medium">
    <h1> Read the instructions below before applying </h1>
    <ul>
      <li>
        Pay KES 300/- non-refundable application fee payable to Sabatia Technical & Vocational College using MPESA paybill Number 605884, use your id number as the account number
      </li>
      <li>
        Total fee is KES 56,240/- per year but the Goverment pays a capitation of KES 30,000/- The balance of KES 26,240 can be paid by parents or HELB.
        <ul>
          <li>
            Note 1: The following trainees shall not benefit from the above capitation by the Ministry.
            1) Trainees who have completed fees
            2) Trainees who have no sponsorship
            3)Trainees whose names will not have been forwarded to the Ministry through Kenya Universities and Colleges Central Placement Services (KUCCPS)
          </li>
          <li>
            Note 2: Kenya shillings twenty six thousand four hundred and twenty (KSH. 26,420) shall be paid by parents or HELB if the student is eligible for the loan.
          </li>

          <li>
            Note 3: When you come to register you must bring with you a Money order, postal order or banker’s cheque of the full amount of fees. Personal cheques shall not be accepted for fee payment.
          </li>

          <li>
            Note 4: Fees paid by parents, sponsors or whosoever, shall not be negotiated for refunds to any student. Any excess fee paid shall be regarded as fee prepayment for the appropriate term.
          </li>

          <li>
            Note 5: The total fee quoted above is per year paid in two (2) termly instalments.
          </li>

          <li>
            When you come to register, collect your registration forms from the registrar who will check your certificates and direct you to cash office to pay fees.
          </li>

          <li>
            Limited accommodation is available at KES 6,000/- per term BUT the students take care of their meals. For more information contact the Principal on Mobile phone No. 0207851474.
          </li>
        </ul>
      </li>
    </ul>

    <form action="applicants/new" method="get" novalidate data-abide>
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> Please Read instructions above then check the box below after you are done</p>
  </div>
    <div>
      <input name="checkMe" type="Checkbox"  id="i-have-read-instructions" required value="i have read instructions"/>
      <label for="i-have-read-instructions"> I have read all the instructions above </label>
    </div>
    <button id="apply-now" class="button" type="submit">Apply now</button>
    </form>
</div>

</div>
