<% content_for :title do %>
  Apply | Sabatia Techincal and Vocational Center
<% end %>
<% if @applicant.errors.any? %>
  <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited details from being submitted:</h2>
  <ul>
    <% @applicant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="grid-container">
  <%= form_for @applicant, :data => {abide: true}, :html => { novalidate: true } do |f| %>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> First Name: 
          <%= f.text_field :first_name, required: true%> 
          <span class="form-error">Please enter your First Name</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label> Last Name: 
          <%= f.text_field :last_name, required: true%> 
          <span class="form-error">Please enter your last name</span>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Date Of Birth: 
          <%= f.text_field :date_of_birth, required: true, pattern: "date"%> 
          <span class="form-error">Enter valid date of birth with format YYYY-MM-DD</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label> Identity number: 
          <%= f.text_field :id_number, required: true, pattern: "integer"%> 
          <span class="form-error">Please enter a valid National ID number</span>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Mobile Number: 
          <%= f.text_field :mobile, required: true, pattern: "integer" , maxlength: '12'%>
          <span class="form-error">Please enter your mobile number</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label> Email Address:
          <%= f.email_field :email, required: true, pattern: "email"%>
          <span class="form-error">Enter a valid email address e.g example@example.com</span>
      </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> County: 
          <%= f.collection_select :county_id, County.all, :id, :county_name, prompt: true, required: true %> 
          <span class="form-error">We need your County. Please select one.</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label> Town: 
          <%= f.text_field :town, required: true%>
          <span class="form-error">Please type your town</span>
        </label>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> P.O Box : 
          <%= f.text_field :address%>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <fieldset>
          <legend> Are you Employed? </legend>
          <%= f.radio_button :employment_status, 'No' %> <label for="applicant_employment_status_no">No</label>
          <%= f.radio_button :employment_status, 'Yes' %> <label for="applicant_employment_status_yes">Yes</label>
          <%= f.radio_button :employment_status, 'Self-employed' %> <label for="applicant_employment_status_self-employed">Self Employed</label>
        </fieldset>
      </div>
      <div class="cell medium-6">
        <fieldset>
          <legend> Who pays Fee? </legend>
          <%= f.radio_button :fee_payer, 'Parent/Guardian' %> <label for="applicant_fee_payer_parentguardian">Parent/Guardian</label>
          <%= f.radio_button :fee_payer, 'Self' %> <label for="applicant_fee_payer_self">Self</label>
          <%= f.radio_button :fee_payer, 'Sponsor' %> <label for="applicant_fee_payer_sponsor">Sponsor</label>
        </fieldset>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Parent Name: 
          <%= f.text_field :parent_name%> 
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Your KCPE Year: 
          <%= f.text_field :kcpe_year, required: true, pattern: "integer", :maxlength => '4'%> 
          <span class="form-error">We need your KCPE year</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label> Your KCPE Marks: 
          <%= f.text_field :kcpe_marks, required: true, pattern: "integer", :maxlength => '3'%> 
          <span class="form-error">We need your KCPE marks</span>
        </label>
      </div>
    </div>
   <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Your KCSE Year: 
          <%= f.text_field :kcse_year, required: true, pattern: "integer", :maxlength => '4'%> 
          <span class="form-error">We need your KCSE year</span>
        </label>
      </div>
      <div class="cell medium-6">
        <label>Please Select Your KCSE Grade: 
          <%= f.select :kcse_grade, Applicant::GRADES, required: true%>
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Your KCSE Index Number: 
          <%= f.number_field :kcse_index_number, required: true, pattern: "integer"%> 
          <span class="form-error">Please enter your KCSE Index Number</span>
        </label>
      </div>
    </div>

    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label>Course: 
          <%= f.collection_select :course_id, Course.all, :id, :course_name, prompt: true, required: true%>
          <span class="form-error">Kindly Select your course</span>
        </label>
      </div>
      <div class="cell medium-6">


        <fieldset>
          <legend> Prefered Admission Time: </legend>
          <%= f.radio_button :admission_time, 'January' %> <label for="applicant_admission_time_january">January</label>
          <%= f.radio_button :admission_time, 'May' %> <label for="applicant_admission_time_may">May</label>
          <%= f.radio_button :admission_time, 'September' %> <label for="applicant_admission_time_september">September</label>
        </fieldset>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <label> Please enter the M-Pesa Transaction code if Payment was made through M-Pesa: 
          <%= f.text_field :transaction_code%> 
        </label>
      </div>
    </div>
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6">
        <%= f.submit 'submit', class: 'button' %>
      </div>
    </div>
</div>
  <% end %>
